body {
    background-color: #f4f3ee;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.main_btn {
    background-color: #388697;
    border-radius: 50px;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
}
